*
{
	box-sizing: border-box;
}

html
{
	text-align: center;
}

body
{
	font-family: "source-sans-pro",sans-serif;
	background: #fffefa;
	color: #252525;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
	max-width: 740px;
	margin: auto;
}

a:link, a:visited
{
	color: #0a74bc;
}

a:hover, a:active
{
	color: #0a549c;
}

a[href^="http://"], a[href^="https://"], a[href^="//"]
{
	background: url(../images/world.png) center left no-repeat;
	padding: 0 0 0 20px;
}

a[href^="http://doc.starling-framework.org"],
	a[href^="../api-reference/"]
{
	background: url(../images/book_open.png) center left no-repeat;
	padding: 0 0 0 20px;
}

a[href^="http://wiki.starling-framework.org"]
{
	background: url(../images/starling.png) center left no-repeat;
	padding: 0 0 0 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
	screen and (min--moz-device-pixel-ratio: 2),
	screen and (min-device-pixel-ratio: 2)
{
	a[href^="http://wiki.starling-framework.org"]
	{
		background: url(../images/starling@2x.png) center left no-repeat;
		background-size: 16px 16px;
	}
}

p
{
	margin: 12px 0;
	padding: 0;
}

h1, h2, h3, h4
{
	margin: 18px 0;
}

h1
{
	font-size: 30px;
	line-height: 36px;
}

h2
{
	font-size: 24px;
	line-height: 26px;
}

h3
{
	font-size: 20px;
	line-height: 22px;
}

h4
{
	font-size: 18px;
	line-height: 20px;
}

pre.code
{
	background: #efeeea;
	color: #454545;
	font-family: "source-code-pro",Monaco,Consolas,Lucida Console,monospace;
	line-height: 24px;
	margin: 18px 0;
	overflow: auto;
	padding: 18px;
}

pre.code code
{
	display: block;
}

aside.info, aside.warn, aside.question
{
	padding: 24px 24px 20px 80px;
	margin: 18px 0;
	min-height: 92px;
}

aside.info
{
	background: #ecf4fa url(../images/info.png) 16px 28px no-repeat;
}

aside.warn
{
	background: #faf4ec url(../images/warning.png) 16px 28px no-repeat;
}

aside.question
{
	background: #f4faec url(../images/warning.png) 16px 28px no-repeat;
}