.DS_Store
Thumbs.db
*.swc
*.stackdump
._*
*.local.properties
*.p12
out/
output/
third-party/
signing/
.actionScriptProperties
.flexLibProperties
.project
asconfig.json
.settings/
bin-debug/
bin-release/
html-template/
.metadata/
*.iml
.idea/
archive/
*.lnk
.vscode/