.DS_Store
*.swc
*.stackdump
._*
*.local.properties
*.p12
out/
output/
third-party/
signing/
.actionScriptProperties
.flexLibProperties
.project
.settings/
bin-debug/
bin-release/
.metadata/
*.iml
.idea/
archive/
*.lnk