name: Package Feathers UI for Starling

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: joshtynjala/setup-adobe-air-action@v1
      - uses: joshtynjala/setup-adobe-flash-player-action@v1
      - name: Install dependencies
        run: |
          wget -O playerglobal.swc https://fpdownload.macromedia.com/get/flashplayer/updaters/32/playerglobal32_0.swc
          mkdir ${{ env.AIR_HOME }}/frameworks/libs/player/11.1/
          cp -f playerglobal.swc ${{ env.AIR_HOME }}/frameworks/libs/player/11.1/
          wget -O flexunit.zip http://mirrors.ibiblio.org/apache/flex/flexunit/4.2.0/binaries/apache-flex-flexunit-4.2.0-4.12.0-bin.zip
          unzip -q flexunit.zip
          rm flexunit/flexunit-4.2.0-20140410-flex_4.12.0.swc
      - name: Checkout Starling
        run: |
          git clone https://github.com/Gamua/Starling-Framework $GITHUB_WORKSPACE/starling --depth 1
      - name: Ant Build
        run: |
          ant full -Dflashsdk.root="${{ env.AIR_HOME }}" -Dstarling.root="$GITHUB_WORKSPACE/starling/starling/src" -Dflexunit.root="$GITHUB_WORKSPACE/flexunit" -Dflashplayer="/usr/local/bin/flashplayer"
      - uses: actions/upload-artifact@v2
        with:
          name: feathersui-starling
          path: output
          if-no-files-found: error