name: Package Feathers UI for Starling

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: joshtynjala/setup-adobe-air-action@master
      - name: Install dependencies
        run: |
          brew install ant
          brew install pandoc
          brew cask install flash-player-debugger
          wget -O playerglobal.swc https://fpdownload.macromedia.com/get/flashplayer/installers/archive/playerglobal/playerglobal19_0.swc
          mkdir ${{ env.AIR_HOME }}/frameworks/libs/player/11.1/
          cp -f playerglobal.swc ${{ env.AIR_HOME }}/frameworks/libs/player/11.1/
          wget -O flexunit.zip http://mirrors.ibiblio.org/apache/flex/flexunit/4.2.0/binaries/apache-flex-flexunit-4.2.0-4.12.0-bin.zip
          unzip -q flexunit.zip
      - name: Checkout Starling
        run: |
          git clone https://github.com/Gamua/Starling-Framework $GITHUB_WORKSPACE/starling --depth 1
      - name: Ant Build
        run: |
          ant package -Dflashsdk.root="${{ env.AIR_HOME }}" -Dstarling.root="$GITHUB_WORKSPACE/starling/starling/src" -Dflashplayer="/Applications/Flash Player Debugger.app/Contents/MacOS/Flash Player Debugger" -Dpandoc="/usr/local/bin/pandoc" -Dflexunit.root="$GITHUB_WORKSPACE/flexunit" -Dskip-tests=1
